.FundoEmpresa{
    /* Declaração para aparecer no Firefox */
    -moz-border-radius: 20px;
    /* Para exibir nos outros navegadores como Chrome, safari, opera*/
    -webkit-border-radius: 20px;
    border-radius: 15px;
    background-color: white;
    border-style: solid;
    border-color: #636363;
    color: white;
    padding: 2%;
    width:95%;
    color: black;
    
    
}
.centro{
    /*position:absolute;
    left:2.5%;*/
    
}

.botao_cor{
    background-color: #fd5759;
    color: white;
   
}

.lupa{
    left: 20%;
}

.botao_cor_verde{
    background-color: green;
    color: white;
}

main > .container {
    padding: 60px 15px 0;
}

.footer {
    background-color: #D9D9D9;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

html {
    height: 100%;
}

body {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
}
